<%- include ("partials/header") %>
    <div class="parallax-image" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 m-auto">
                        <h1 class="my-4">Upload Food Item</h1>

                        <form class="form-group" action="/" method="post" enctype="multipart/form-data">
                             <div class="custom-file mb-3">
                                <input type="file" accept="img/*" class="custom-file-input form-control" name="file" id="food_image" onchange="selectSingleFile(this.files)">
                                <label class="custom-file-label" for="food_image" id="file-label">Choose file</label>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-primary btn-block form-control">
                        </form>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    
    <%- include ("about_project") %>

    <%- include ("motivation") %>

    <%- include ("timeline") %>

    <%- include ("members") %>
    

    </div>

<%- include ("partials/footer") %>