<%- include ("partials/header") %>
<script src="/scripts/result_no.js" defer></script>

<div class="result_page">
<div class="row">
	<div class="col-lg-6 card border-dark" style="width: 70rem;">
	  <img src="/image/<%=file%>" class="card-img-top rounded float-right" alt="...">
	 </div> 
		  <div class="card border-dark col-lg-3">
		    <h5 class="card-title">Classification results</h5>


		    <form class="form-group" id="food_radio_form" action="/result/<%=file%>/add-category/?_method=PUT" method="post">
		    <%for(index=0;index<food_colls.length;index++){%>

		    <div class="form-check custom-control custom-radio">
				  <input class="form-check-input" type="radio" name="food_options" id="<%=food_colls[index]%>" value="<%=food_colls[index]%>">
				  <label class="form-check-label" for="<%=food_colls[index]%>">
				    <%=food_colls[index]%>
				  </label>
			</div>
			<%}%>

			
		    <div class="form-check custom-control custom-radio">
				  <input class="form-check-input" type="radio" name="food_options" id="other_option" value="other_option">
				  <label class="form-check-label" for="exampleRadios3">
				    Other
				  </label>

				  <div id="other_option_text" style="display:none">
				  	<input type="text" name="other_option_text" class="form-control"/>
				  </div>
			</div>
			<div class="row alert">

				<div class="col">
					  
				</div>
				<div class="col">
				        <% console.log(file); %>
					    <input type="submit" class="btn btn-block btn-primary">
				</div>		    
		    	</div>
		    </div>
		    </form>		
				
		  </div>
</div>
</div>

<%- include ("partials/footer") %>